absl-py
evaluate
langchain==0.2.5
langchain-community==0.2.5
langchain-core==0.2.7
langchain-nvidia-ai-endpoints==0.1.1
pandas==2.2.2
ragas==0.0.21
requests==2.32.2
rouge_score==0.1.2
pyarrow>=14.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
h11>=0.16.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=1.26.19 # not directly required, pinned by Snyk to avoid a vulnerability
aiohttp>=3.9.0 # not directly required, pinned by Snyk to avoid a vulnerability
nltk>=3.9 # not directly required, pinned by Snyk to avoid a vulnerability
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
filelock>=3.20.1 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.0 # not directly required, pinned by Snyk to avoid a vulnerability